body {
    background: #283618;
    font-family: Inter, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    overflow: hidden;
}

h1, h4 {
    margin: 0;
    color: #fefae0;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 4rem 2.2rem;
}

h4 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    line-height: 1.4;
}

button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #bf0603;
    border: 10px solid #a10502;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}